@tailwind base;
@tailwind components;
@tailwind utilities;

.form-3D {
  box-shadow: 0 0 0 1px grey inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 4px 0 0 grey, 0 5px 0 1px rgba(0, 0, 0, 0.4),
    0 4px 8px 1px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.form-3D:hover {
  box-shadow: 0 0 0 1px grey inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 4px 0 0 grey, 0 5px 0 1px rgba(0, 0, 0, 0.4),
    0 4px 8px 3px rgba(0, 0, 0, 0.6);
}

.activated {
  opacity: 60%;
  transform: translateY(1px);
}
